/* Style for the overlay container */
.overlay {
    position: relative;
    height: 100%;
  }
  
  /* Style for the logo */
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  